### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
### ArchLinuxPackages template
*.tar
*.tar.*
*.jar
*.exe
*.msi
*.zip
*.tgz
*.log
*.log.*
*.sig

pkg/
src/

*/target/**

